.btn {
    background-color: #ff6633 !important;
    border-radius: 20px;
    border-color: #ff6633;
    color: white;
    margin-bottom: 8px;
}

.btn:hover {
    background-color: #c24d26 !important;
}